/* line 3, ../sass/styles.sass */
#page-wrapper {
  background: transparent;
}

/* line 6, ../sass/styles.sass */
#header {
  background: #ffbf00;
}

/* line 9, ../sass/styles.sass */
#name-and-slogan {
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/styles.sass */
#footer-wrapper {
  background: #bbbbbb;
}
