/* line 4, ../sass/includes/_fonts.sass */
h1, #content h1 {
  font-size: 30.6px;
  font-size: 1.7rem;
}

/* line 7, ../sass/includes/_fonts.sass */
h2, #content h2 {
  font-size: 25.2px;
  font-size: 1.4rem;
}

/* line 10, ../sass/includes/_fonts.sass */
h1, h2, h3, h4,
h1 a, h2 a, h3 a, h4 a {
  color: #333333;
  margin-top: 0;
}

/* line 15, ../sass/includes/_fonts.sass */
h1 a, h2 a, h3 a, h4 a {
  color: #3a99c9;
}
/* line 17, ../sass/includes/_fonts.sass */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #00a4f7;
}
/* line 19, ../sass/includes/_fonts.sass */
h1 a:link, h2 a:link, h3 a:link, h4 a:link {
  padding-top: 0;
}

/* Buttons */
/* line 11, ../sass/styles.sass */
.page-entdeckertag .panel-pane.entdeckertag h2.pane-title {
  display: none;
}

/* line 16, ../sass/styles.sass */
#homepage .panel-pane {
  border: 1px solid #dddddd;
  min-height: 300px;
  padding: 12px 15px 7px;
  margin-bottom: 20px;
}
/* line 21, ../sass/styles.sass */
#homepage .panel-col-top {
  border: 1px solid #dddddd;
  min-height: 300px;
  padding: 12px 15px 7px;
  margin-bottom: 30px;
}
/* line 26, ../sass/styles.sass */
#homepage .panel-col-top .panel-pane {
  min-height: 0;
  border: 0;
  padding: 0;
  margin-bottom: 20px;
}

/* line 32, ../sass/styles.sass */
.front h1#page-title {
  display: none;
}

/* line 37, ../sass/styles.sass */
.submitted .user-picture img {
  height: auto;
  margin-right: 15px;
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- DESKTOP LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 850px) {
  /* line 51, ../sass/styles.sass */
  body #main-menu-links {
    margin-bottom: 7px;
  }
  /* line 53, ../sass/styles.sass */
  body #main-menu-links a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-right: 7px;
    font-size: 17.1px;
    font-size: 0.95rem;
    line-height: 1;
    border: 1px solid #bbbbbb;
    background: #fff2cc;
    color: #555555;
    padding-left: 0.5em;
  }
  /* line 62, ../sass/styles.sass */
  body #main-menu-links a.active, body #main-menu-links a:hover {
    background: white;
    border: 1px solid #777777;
    color: black;
  }
  /* line 69, ../sass/styles.sass */
  body #homepage .panel-col-first .inside {
    margin-right: 1em;
  }
  /* line 72, ../sass/styles.sass */
  body #homepage .panel-col-last .inside {
    margin-left: 1em;
  }
}
