/* Buttons */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* line 16, ../sass/views.sass */
.view-conference-room-schedule .view-header ul.pager {
  position: relative;
  margin-bottom: 0;
}
/* line 19, ../sass/views.sass */
.view-conference-room-schedule .view-header ul.pager li {
  text-align: left;
  position: static;
  display: inline-block;
}
/* line 23, ../sass/views.sass */
.view-conference-room-schedule .view-header ul.pager li.date-prev {
  margin-right: -5px;
}
/* line 25, ../sass/views.sass */
.view-conference-room-schedule .view-header ul.pager li a:hover {
  color: #3a99c9;
}
/* line 27, ../sass/views.sass */
.view-conference-room-schedule .view-header .book-room:before {
  font-family: FontAwesome;
  content: "\f271";
}
/* line 31, ../sass/views.sass */
.view-conference-room-schedule td div.day, .view-conference-room-schedule td div.day a {
  min-width: 30px;
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- DESKTOP LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 850px) {
  /* line 47, ../sass/views.sass */
  html .view-conference-room-schedule .view-header ul.pager {
    position: static;
    margin-bottom: 0;
  }
  /* line 50, ../sass/views.sass */
  html .view-conference-room-schedule .view-header ul.pager li {
    text-align: right;
    position: absolute;
  }
  /* line 53, ../sass/views.sass */
  html .view-conference-room-schedule .view-header ul.pager li.date-prev {
    right: 90px;
    margin-right: 0;
  }
}
