/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* line 16, ../sass/views.sass */
.view-conference-room-schedule .view-header ul.pager {
  position: relative;
  margin-bottom: 0;
}
/* line 19, ../sass/views.sass */
.view-conference-room-schedule .view-header ul.pager li {
  text-align: left;
  position: static;
  display: inline-block;
}
/* line 23, ../sass/views.sass */
.view-conference-room-schedule .view-header ul.pager li.date-prev {
  margin-right: -5px;
}
/* line 25, ../sass/views.sass */
.view-conference-room-schedule .view-header ul.pager li a:hover {
  color: #3a99c9;
}
/* line 28, ../sass/views.sass */
.view-conference-room-schedule td div.day, .view-conference-room-schedule td div.day a {
  min-width: 30px;
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- DESKTOP LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media (min-width: 850px) {
  /* line 44, ../sass/views.sass */
  html .view-conference-room-schedule .view-header ul.pager {
    position: static;
    margin-bottom: 0;
  }
  /* line 47, ../sass/views.sass */
  html .view-conference-room-schedule .view-header ul.pager li {
    text-align: right;
    position: absolute;
  }
  /* line 50, ../sass/views.sass */
  html .view-conference-room-schedule .view-header ul.pager li.date-prev {
    right: 90px;
    margin-right: 0;
  }
}
/* line 44, ../sass/views.sass */
.lt-ie9 html .view-conference-room-schedule .view-header ul.pager {
  position: static;
  margin-bottom: 0;
}
/* line 47, ../sass/views.sass */
.lt-ie9 html .view-conference-room-schedule .view-header ul.pager li {
  text-align: right;
  position: absolute;
}
/* line 50, ../sass/views.sass */
.lt-ie9 html .view-conference-room-schedule .view-header ul.pager li.date-prev {
  right: 90px;
  margin-right: 0;
}
