@import "includes/halle96-central"

// Set the behaviour of our IE8-Fallback.
// Default to write it into the same file with an extra
// wrapper class
$breakpoint-no-queries: false
$breakpoint-no-query-fallbacks: true

* 
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

#page-wrapper 
  background: transparent
  min-height: 100%
  position: relative
  padding-bottom: 95px

#header 
  background: $header-background

#name-and-slogan
  margin: 0 
  padding: 0 

#main 
  margin-top: 35px

#footer-wrapper 
  background: #bbb
  padding: 20px 0 20px
  height: 95px

#footer
  margin-top: 0
  margin-bottom: 0
  border-top: 0

/** Service und Info Seite **/
.page-service-info
  h2.pane-title 
    margin-top: 5px
  .panel-panel, .center-wrapper
    +legacy-pie-clearfix
  .center-wrapper 
    .panel-panel 
      border: 1px solid #ddd 
      float: none
      width: auto
      .panel-pane 
        margin-bottom: 0

  .panel-col-top, .panel-col-bottom 
    .panel-pane 
      border: 1px solid #ddd
    
  .panel-pane 
    padding: 7px 15px
    margin-bottom: 20px
  .center-wrapper .panel-panel
    margin-bottom: 10px
  // Styles for single panes

#main-menu
  ul 
    li  
      a 
        &.beitrag-schreiben 
          background: #FFFAEF url(../images/beitrag-schreiben-button.png) no-repeat -20px center
          background-color: #EDE5D0
          padding-left: 50px
          border: 1px solid #999
          &:hover 
            background-color: white


/* Kommentare */
form#comment-form
  #edit-author--2
    display: none

.comment 
  .comment-permalink 
    display: none
  .attribution
    display: block
  .comment-text
    display: block
  .submitted 
    margin-bottom: 7px
  .commenter-name, .comment-time 
    display: inline
  .comment-time 
    padding-left: 10px
  .comment-arrow
    display: none

#homepage 
  &.panel-2col-stacked 
    .panel-col-first, .panel-col-last
      float: none
      width: auto

/*-------------------------------------------*/
/*-------------------------------------------*/
/*---------- Small Tablet LAYOUT ------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
body
  +breakpoint($breakpoint-small-tablet)
    &.not-logged-in
      #content
        text-align: center

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------- DESKTOP LAYOUT -------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

body
  +breakpoint($breakpoint-desktop)
    #footer-wrapper 
      position: absolute
      bottom: 0
      width: 100%

    #logo 
      float: left
      padding: 20px 15px 10px
    // Not logged in user
    &.not-logged-in
      #logo
        float: none
        display: block
        margin: auto
        width: 230px
    ul#main-menu-links
      padding: 0
    #main-menu 
      clear: none
      float: left
      padding: 40px 0 0 20px
      ul 
        li  
          a 
            &.beitrag-schreiben
              margin-left: 10px

    /** Service und Info Seite **/
    &.page-service-info
      // define a min-height for the panel panes to make the page
      // look organized
      $min-pane-height: 250px
      // Styles for single panes
      .views-row 
        line-height: 1.6
      .panel-pane
        min-height: $min-pane-height
      .panel-col-top
        .pane-alle-kategorien-service-info-panel-pane-1
          float: left
          width: 64.3%
          margin-right: 2.3%
          background: #f5f5f5
          .view-alle-kategorien-service-info 
            .views-row 
              float: left
              width: 42%
              margin-right: 3%
              +x-rem(font-size, 0.95)
              line-height: 1.7
        .pane-einzelne-kategorie-service-und-info-panel-pane-1 
          float: left
          width: 31%
      .center-wrapper 
        .panel-panel 
          float: left
          width: 31%
          margin-right: 2.3%
      .panel-col-bottom 
        .panel-pane 
          float: left
          width: 31%
          margin-right: 2.3%


    /* Kommentare */
    .comment 
      .attribution
        display: table-cell
      .comment-text
        display: table-cell
      .submitted 
        margin-bottom: 0
      .commenter-name, .comment-time 
        display: block
      .comment-time 
        padding-left: 0
      .comment-arrow
        display: block
        margin-left: -45px


    #homepage 
      &.panel-2col-stacked 
        .panel-col-first, .panel-col-last
          float: left
          width: 50%
          