@import "includes/variables_mixins"

// Set the behaviour of our IE8-Fallback.
// Default to write it into the same file with an extra
// wrapper class
$breakpoint-no-queries: false
$breakpoint-no-query-fallbacks: true

* 
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

#page-wrapper 
  background: transparent
  min-height: 100%
  position: relative
  padding-bottom: 95px

#header 
  background: $header-background

#name-and-slogan
  margin: 0 
  padding: 0

#footer-wrapper 
  background: #bbb
  padding: 20px 0 20px
  height: 95px

#footer
  margin-top: 0
  margin-bottom: 0
  border-top: 0

/** Service und Info Seite **/
.page-service-info
  .panel-panel, .center-wrapper
    +legacy-pie-clearfix
  .panel-pane 
    padding: 7px 15px
    border: 1px solid #ddd
  // Styles for single panes

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------- DESKTOP LAYOUT -------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

body
  +breakpoint($breakpoint-desktop, $no-query: '.lt-ie9')
    #footer-wrapper 
      position: absolute
      bottom: 0
      width: 100%

    /** Service und Info Seite **/
    &.page-service-info
      // Styles for single panes
      .pane-alle-kategorien-service-info-panel-pane-1
        float: left
        width: 63.6%
        margin-right: 3%
      .pane-einzelne-kategorie-service-und-info-panel-pane-1 
        float: left
        width: 33,3%