@import "includes/variables_mixins"

#page-wrapper 
  background: transparent

#header 
  background: $header-background

#name-and-slogan
  margin: 0 
  padding: 0

#footer-wrapper 
  background: #bbb