@import "compass/css3"
@import "compass/utilities/general/clearfix"
@import "singularitygs"
@import "rem-mixin"

///////// Colors
$header-background: #FFBF00
$gelb: #FFBF00
$orange: #E4844A
$rot: #91204D
$blau: #3A99C9
$link-color: $blau
$link-hover-color: #00A4F7


//// Breakpoints
$breakpoint-desktop: 850px


///
@mixin standard-panel-pane
  border: 1px solid #dddddd
  margin-bottom: 20px
  min-height: 300px
  padding: 12px 15px 7px