#block-masquerade-masquerade {
  clear: both;
}
input#edit-title {
  font-size: 17px;
  border: 2px solid #ccc;
  padding: 3px 8px;
}
/*.page-node-add input#edit-title, .article-node-add input#edit-title,
.page-node-edit input#edit-title, .article-node-edit input#edit-title {
  
}*/
.cke_editable {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 13px;
}

/* timepicker */
table.ui-timepicker-table a.ui-state-active {
  box-sizing: border-box;
  background: #E3E9ED;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: auto;
  color: #0F517A;
  /*border: 1px solid #B5D1E0;*/
}